/* font-family: 'Urbanist', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400&display=swap");
/* font-family: 'Cormorant Infant', serif;  */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
/* font-family: 'Urbanist', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital@1&display=swap');

body {
  margin: 0;
}

/* NAV */
.nav {
  position: fixed !important;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 5em;
  align-content: center;
  font-family: "Urbanist", sans-serif;
}

.navbar-brand {
  margin-left: 2em;
}

.navPhoneNum {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: space-around;
}
.navLinks a {
  text-decoration: none;
  color: black;
  font-family: "Urbanist", sans-serif;
}

.navLinks a:hover {
  text-decoration: none;
  color: #b11717;
  transform: scale(1.05);
  transition: ease-in-out all 0.1s;
}

.navScroll {
  background: #272727f2;
  box-shadow: 0 2px 0.5rem black;
  color: white;
}

.navScroll a {
  color: #fff;
}
.contactBttn {
  margin-right: 3em;
  align-self: center;
}
.contactBttn > button {
  width: 10em;
  height: 3.3em;
  background: #891111;
  color: white;
}

/* HOME */
.homeSec-1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("/assets/phoenixBG.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.secOne-d1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-family: "Bebas Neue";
  color: white;
  text-align: center;
}

.tagline {
  font-family: "Urbanist", sans-serif;
}
.secOne-d1 h1 {
  font-size: 5em;
}
.secOne-d1 button {
  width: 10em;
  height: 3em;
  background-color: #891111;
  font-size: 26px;
  margin-top: 1em;
}

.imgCont-1 {
  display: flex;
  justify-self: flex-end;
}

.getStarted-bttn {
  font-size: 1em;
}

/* ABOUT */

#About {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.aboutHeader {
  display: flex;
  background: #272727;
  width: 60%;
  height: 5em;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2em;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
}

.card-1 hr {
  background-color: black;
  border: none;
  height: 2px;
  opacity: 100% !important;
  margin: 0;
}
.aboutHeader h1{
  margin-right: 1em;
  font-size: 3em;
  color: white;
}
.employeeSec {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4em;
}

.card-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.cardBot {
  background: #891111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7em;
  justify-content: space-around;
  font-family: 'Cormorant Infant', serif;
}

/* PRACTICES */

#Practices{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.practiceHeader{
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 60%;
  background: #891111;
  font-family: 'Cormorant Infant', serif;
  height: 5em;
}

.practiceHeader h1{
  margin-left: 1em;
  font-size: 3em;
  color: white;
}

.practiceList{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 2em;
}

.practiceCard{
  display: flex;
  background: #272727;
  color: white;
  margin-top: 1em;
  font-family: 'Cormorant Infant';
  width: 80%;
  height: 5em;
  align-items: center;
}

.practiceCard h2{
  margin-right: 1em;
  width: 80%;
  text-align: center;
}

.practiceCard img {
  width: 4em;
  margin-left: 3em;
}

/* TESTIMONIES */
#Testimonies{
  margin: 2em 2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;}

.tHead{
  margin-top: 1em;
  text-align: center;
  font-family: 'Cormorant Infant';
}

.quote{
  max-width: 300px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Urbanist'
}

.darkBG {
  background: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
}

.darkBG hr{
  margin: 0 !important;
  color: white;
  opacity: 100% !important;
}

.quoteCard {
  display: flex;
  flex-direction: row;
  
}

.topQuote {
  transform: scaleX(-1) scaleY(-1);
  margin-right: 1em;
  align-self: flex-start;
}

.bottomQuote {
  align-content: flex-end;
  display: flex;
  transform: scaleX(-1) scaleY(-1);
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 2em;
}

.quoteAuthor{
  text-align: end;
}

.quoteSec{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.redBG{
  background: #891111 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
}
